<p>Categories:</p>
<select name="categories" class="w-25 my-3" (change)="filter($event)">
  <option value="all">All</option>
  <option value="{{ Category }}" *ngFor="let Category of Categories">
    {{ Category }}
  </option>
</select>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col my-5" *ngFor="let item of Products">
    <div class="card h-100 mx-2">
      <img src="{{ item.image }}" class="card-img-top" alt="..." />
      <div class="card-body p-2">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text description">
          {{ item.description }}
        </p>
      </div>
      <div class="addtional p-2">
        <div class="price p-2 m-2 border">{{ item.price }} EGP</div>
        <div class="card_btn text-center">
          <button class="">add to cart</button>
          <button class="">show details</button>
        </div>
      </div>
    </div>
  </div>
</div>
