<div class="card h-100 mx-2">
  <img src="{{ targetProduct?.thumbnail }}" class="card-img-top" alt="..." />
  <div class="card-body p-2">
    <h5 class="card-title">{{ targetProduct?.title }}</h5>
    <p class="card-text description">
      {{ targetProduct?.description }}
    </p>
  </div>
  <div class="addtional p-2">
    <div class="price p-2 m-2 border">{{ targetProduct?.price }} EGP</div>
    <div
      class="price p-2 m-2 border"
      [ngStyle]="{ color: targetProduct?.stock <= 0 ? 'red' : 'green' }"
    >
      {{ targetProduct?.stock | stock }}
    </div>
    <div class="card_btn text-center">
      <!-- <button class="" (click)="add(targetProduct)" (click)="addNumProductCart()">
        add to cart
      </button> -->
      <!-- <button class="" (click)="redirectDetails(targetProduct.id)">show details</button> -->
    </div>
  </div>
</div>
